<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Fake News📰 Detection System</title>
</head>

<body>
	<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
</head>
<body>
    {% if posts_details %}
        <table border="1" class="tb">
            <thead>
                <th>Profile Name </th>
                <th> Linkedin Posts </th>
                <th> Prediction Score</th>
                <th> Result </th>
                <th> Posts trends/Information</th>
            </thead>
            <tbody>
                {% for index, item in posts_details %}
                <form action="/result" method="post" >
                <tr>
                <td><img src="{{ item['Image'] }}" width="50" height="50"> {{ item['name'] }}</td>
                <input type="hidden" name="url" value="{{ item.url }}" />
                <td>{{ item['text'] }}</td>
                <input type="hidden" name="text" value="{{ item.text }}" />
                <td>{{ item['predict_score'] }}</td>
                <td>{{ item['result'] }}</td>
                <input type="number" name="index_val" value="{{ index }}" hidden/>
                <td><button type="submit" class="button_view">View</button></td>
                </tr>
                </form>
                {% endfor %}
            </tbody>
        </table>
    {% else %}

    {% endif %}
</body>
</html>
 </body>

 {% if exp %}
        
        <div class="container">
            <div class="left">
                <h2 align="center"> Explainable AI </h2>
                <h3 align="center">LIME-explained results</h3>
                {{ exp |safe }}
            </div>
            <div class="right">
                <h3 align="center">Post Trends of this User</h3>
                <ul class="posts_list">
                    {% for result in poster_info %}
                    <li>{{ result['text'] }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        
{% else %}



{% endif %}
